<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LemonLime</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LemonLime.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <style>
        .navbar-custom {
            background-color: #f2f2f2;
            padding: 0.5rem 21%;
        }

        .navbar-brand img {
            max-height: 45px;
        }

        .nav-link {
            margin-right: 1rem;
            font-weight: 500;
            font-size: large;
            color: #555;
        }

        nav-link-login {
            margin-right: 1rem;
            font-weight: 500;
        }

        .nav-link:hover {
            color: #333;
        }

        .navbar-toggler {
            border: none;
        }

        .navbar-collapse {
            justify-content: flex-end;
        }

        .btn-login {
            border-radius: 1rem;
            background-image: linear-gradient(to right, #ffa22e, #f71e3d);
            color: white;
            font-weight: bold;
            border: none;
            margin: 0;
        }

            .btn-login:hover {
                filter: brightness(90%);
                color: white;
            }

        .btn-logout {
            border-radius: 0 1rem 1rem 0;
            background-image: linear-gradient(to right, #fa8072, #cd2626);
            color: white;
            font-weight: bold;
            border: none;
        }

            .btn-logout:hover {
                filter: brightness(90%);
                color: white;
            }

        .dropdown-menu {
            right: 0;
            border-radius: 0.5rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        }

            .dropdown-menu a {
                text-decoration: none;
                color: black;
            }

                .dropdown-menu a:hover {
                    text-decoration: underline;
                }

        .dropdown-item:hover {
            background-color: #f8f9fa;
        }

        .profile-picture {
            width: 2rem;
            height: 2rem;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-custom navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home">
                    <img src="~/img/logos/LemonLimeLogo.png" alt="LemonLime Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item me-5 mt-1">
                            <a class="nav-link fs-5" asp-controller="Recipes" asp-action="Index"><strong>RECIPES</strong></a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var profilePicture = User.FindFirst("ProfilePicture")?.Value;
                            var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @if (!string.IsNullOrEmpty(profilePicture))
                                    {
                                        <img src="@profilePicture" alt="Profile Picture" class="rounded-circle profile-picture fs-5">
                                    }
                                    else
                                    {
                                        <img src="~/img/profiles/default.png" alt="Profile Picture" class="rounded-circle profile-picture">
                                    }
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="GetUserById" asp-route-id="@userId"><i class="fas fa-user me-1"></i> Profile</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Recipes" asp-action="GetRecipesByUserId" asp-route-userId="@userId"><i class="fas fa-book me-1"></i> My Recipes</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Recipes" asp-action="Create"><i class="fas fa-plus me-1"></i> Add Recipes</a></li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Recipes" asp-action="List"><i class="fas fa-tools me-1"></i> Admin Panel</a></li>
                                    }
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                                            <button type="submit" class="dropdown-item btn btn-logout"><i class="fas fa-sign-out-alt me-1"></i> Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item mt-1">
                                <a class="nav-link-login btn btn-login fs-5" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LemonLime - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
