@model LemonLime.DTOs.User.UserRequest

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-4">
    <h2 class="d-flex justify-content-between align-items-center">
        Edit User
        <a asp-action="GetUserById" asp-route-id="@Model.Id" class="btn btn-secondary d-flex align-items-center">
            <i class="fas fa-arrow-left me-2"></i> Back to Profile
        </a>
    </h2>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-1" style="padding: 5% 3%; border: dashed;">
                <div class="card-body">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label asp-for="Username" class="form-label"></label>
                            <input asp-for="Username" class="form-control" placeholder="Enter username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Enter email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label asp-for="ProfilePicture" class="form-label"></label>
                            <div class="input-group">
                                <input type="file" asp-for="ProfilePicture" class="form-control" id="fileInput" />
                            </div>
                            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save me-2"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
